doctype html
html(lang="de")
    head
        title= title
        include styles
        include scripts

    body(class="no-padding")
        div(class="container-fluid" id="wrapper")
            div(class="row")
                include nav

                block content

                //include footer