
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/bootstrap-4-template/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/bootstrap-4-template/css/font-awesome.css')
link(rel='stylesheet', href='/stylesheets/bootstrap-4-template/css/style.css')