nav(class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1")

    h1(class="site-title")
        a(data-href="/")
            em(class="fa fa-rocket")
            | Stundenplan

    a(href="#menu-toggle" class="btn btn-default" id="menu-toggle")
        em(class="fa fa-bars")

    ul(class="nav nav-pills flex-column sidebar-nav")
        include nav_items

    a(href="#" class="logout-button col-sm-hidden")
        em(class="fa fa-power-off")
        |Signout


