script(src="/javascript/plugin/tether/tether.min.js")
script(src="/stylesheets/bootstrap-4-template/js/jquery-3.2.1.min.js")
script(src="/stylesheets/bootstrap-4-template/dist/js/bootstrap.min.js")
script(src="/stylesheets/bootstrap-4-template/js/chart.min.js")
script(src="/stylesheets/bootstrap-4-template/js/chart-data.js")
script(src="/stylesheets/bootstrap-4-template/js/easypiechart.js")
script(src="/stylesheets/bootstrap-4-template/js/easypiechart-data.js")
script(src="/stylesheets/bootstrap-4-template/js/bootstrap-datepicker.js")
script(src="/bundle.js")